/* TSOS.css */

body {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  color: white;
}

#display {
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#divMain {
  display: grid;
  grid-template-columns: 1fr 500px 500px 500px 1fr;
  align-content: center;
  margin-top: 20px;
  grid-gap: 10px;
}

#taProgramInput {
  font-family: "Courier New", Courier, monospace;
}

.left {
  grid-column: 2;
  justify-self: center;
  align-self: start;
}

.center {
  grid-column: 3;
  justify-self: center;
  align-self: start;
}

.memory {
  height: 240px;
  overflow-y: scroll;
  padding: 2px;
  border: 1px solid white;
}

.table {
  margin-bottom: 0;
}
